<p class="title">
  Clone
  <span class="line"></span>
</p>

<div class="auth_button">
  <a href="https://github.com/apps/fullprojectcloner/" target="_blank">
    <button class="install_button" mat-flat-button><i class="fas fa-download"></i>
      Install our application on github here.&nbsp;&nbsp;
    </button>
  </a>
</div>
<br>

<div class="auth_button">
  <app-login></app-login>
</div>

<div *ngIf="authService.userIsLoggedIn">
  <mat-card>
    <p>Are you sure you want to copy the following GitHub repository:</p>
    <p>{{requestData._repositoryName}}</p>
    <br>
    <p>These issues will also be copied to your new repository:</p>

    <div *ngFor="let issue of requestData._issues.reverse()">
      <p class="issuehead">{{issue._number}}. {{issue._title}}</p>
      <p class="issuebody">{{issue._body}}</p>
      <br>
    </div>
    <br><br>
    <button mat-flat-button (click)="clone()" class="clonebutton">Clonen!</button>
  </mat-card>

</div>
