<p class="title">
  Clone
  <span class="line"></span>
</p>

<div class="auth_button">
  <a href="https://github.com/apps/fullprojectcloner/" target="_blank">
    <button class="install_button" mat-flat-button><i class="fas fa-download"></i>
      Install our application on github here.&nbsp;&nbsp;
    </button>
  </a>
</div>
<br>

<div class="auth_button">
  <app-login></app-login>
</div>

<div *ngIf="authService.isLoggedIn">
  <mat-card>
    <p>Weet je zeker dat je de volgende repository wilt clonen:</p>
    getRepositoryName({{cloneID}});
    <br><br>
    <button (click)="clone()">Clonen!</button>
  </mat-card>
  <pre> {{requestData | json }}</pre>
</div>
