<p class="title">
  About
  <span class="line"></span>
</p>

<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h3>Hogeschool van Arnhem en Nijmegen (HAN)</h3>
    </mat-expansion-panel-header>

    <mat-panel-description>
      <h4>Algemeen</h4>
    </mat-panel-description>
    <mat-panel-description>
      <p class="aboutText">De HAN behoort tot de grootste hogescholen van Nederland. Met ruim 3.500 medewerkers verzorgt
        de HAN vanuit de
        campussen in Arnhem en Nijmegen voor ruim 35.000 studenten, 64 bacheloropleidingen en 18 masters in de varianten
        voltijd, deeltijd en duaal. Daarnaast biedt de HAN 14 associate degrees en circa 300 cursussen en trainingen
        aan. Ook legt de HAN zich met onder andere 36 lectoraten en 7 centres of expertise toe op onderzoek en
        kennisinnovatie.
      </p>
    </mat-panel-description>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h3>Informatica Communicatie Academie (ICA)</h3>
    </mat-expansion-panel-header>

    <mat-panel-description>
      <h4>Algemeen</h4>
    </mat-panel-description>
    <mat-panel-description>
      <p class="aboutText">De Informatica Communicatie Academie (ICA) verzorgt de hbo-opleidingen en masterprogramma's
        bij de HAN
        University of Applied Sciences op het gebied van informatica, digitale media en communicatie.
      </p>
    </mat-panel-description>
    <mat-panel-description>
      <h4>Praktijkgericht</h4>
    </mat-panel-description>
    <mat-panel-description>
      <p class="aboutText">Met ruim 1.600 studenten en ongeveer 120 medewerkers vormt de Informatica Communicatie
        Academie in Gelderland
        het kloppend hart van het hoger onderwijs voor toekomstige Bachelors of ICT. De academie staat voor een
        weloverwogen mix van ICT en Communicatie ingebed in een praktijkgerichte aanpak. Deze werkwijze stelt de student
        vanaf de eerste dag in staat de ‘echte’ praktijk in de vingers te krijgen, om zo bij het afronden van de studie
        aan de markteisen te kunnen voldoen.
      </p>
    </mat-panel-description>

  </mat-expansion-panel>

</mat-accordion>
