
<mat-card>

  <div *ngIf= "authService.isLoggedIn; else loginTemplate">
    <h1>Welkom {{authService.userdata.displayName}}</h1>
    <img src="{{ authService.userdata.photoURL }} ">

    <p>Hieronder vindt u uw 's repositories. Klik op een repository om deze te kopiëren.</p>

    <button mat-flat-button class="btn-github" (click)="logout()"> Stop authentication github</button>
  </div>


<ng-template #loginTemplate>
  <h1>FullProjectCloner</h1>

  <button mat-flat-button class="btn-github" (click)="signInWithGithub()">
   Authenticate met github</button>
</ng-template>
</mat-card>
