<p class="title">
  Home
  <span class="line"></span>
</p>

<mat-card>
  <h2>What is FullProjectCloner?</h2>
  <p>FullProjectCloner allows the user to clone a repository to someone else, including everything that belongs to it, like a wiki or a backlog.</p>
  <h2>How does it work?</h2>
  <ol>
  <li>The user authenticates with GitHub.</li>
  <li>The user selects a repository.</li>
  <li>The user chooses a recipient.</li>
  <li>A request is sent to the recipient.</li>
  <li>After the recipient accepts the request, the repository is cloned.</li>
  </ol>
</mat-card>
