
<mat-card>

  <div *ngIf= "authService.isLoggedIn; else loginTemplate">
    <h1>Welcome {{authService.userDetails.displayName}}</h1>
    <img src="{{ authService.userDetails.photoURL }} ">

    <!--<pre>-->
      <!--{{ authService.userDetails| json }}-->
    <!--</pre>-->

    <p>Here you can find your repositories. Select a repository to make a copy.</p>

    <button mat-flat-button class="btn-github" (click)="logout()"> Stop authentication github</button>
  </div>


<ng-template #loginTemplate>
  <h1>FullProjectCloner</h1>

  <button mat-flat-button class="btn-github" (click)="signInWithGithub()">
   Authenticate with github</button>
</ng-template>
</mat-card>
