<mat-card>

  <div *ngIf= "authService.isLoggedIn; else loginTemplate">
    <h1>Welcome {{authService.userDetails.displayName}}</h1>
    <img src="{{ authService.userDetails.photoURL }} ">

    <!--<pre>-->
      <!--{{ authService.userDetails| json }}-->
    <!--</pre>-->

    <p>Here you can find your repositories. Select the repositories you want to clone and click next.</p>

    <button mat-flat-button class="btn-github" (click)="logout()"><i class="fab fa-github"></i> Stop authentication github</button><br>


  </div>


<ng-template #loginTemplate>
  <h1>FullProjectCloner</h1>

  <button mat-flat-button class="btn-github" (click)="signInWithGithub()">
    <i class="fab fa-github"></i> Authenticate with github</button>
</ng-template>
</mat-card>
