<div *ngIf="showAllRepositories">
  <form [formGroup]="checkboxForm">
    <div *ngFor="let repository of repositories; index as i">
      <button class="repository-button" mat-flat-button (click)="chooseRepository(repository?.full_name)">
        {{repository?.full_name}}
      </button>
    </div>
  </form>
</div>

<div *ngIf="!showAllRepositories">
  <app-repository-sendinvite (valueChange)="setShowAllRepositories(true)" [data]="data"
                             [chosenRepository]="chosenRepository"></app-repository-sendinvite>
</div>
