<div class="box">
  <div class="left">
    <mat-card class="matbox">
      <p>Send one invite to a person here:</p>
      <form [formGroup]="singleRecipientForm" class="example-form">
        <mat-form-field class="field">

          <input #inputUser matInput placeholder="user e-mail" formControlName="email">

        </mat-form-field>
        <div *ngIf="submitted && singleRecipientForm.controls.email.errors" class="error">
          <div *ngIf="singleRecipientForm.controls.email.errors.required">Your e-mail is required</div>
          <div *ngIf="singleRecipientForm.controls.email.errors.email">E-mail is not valid</div>
        </div>

        <br>
        <div class="submitbtn">
          <button type="submit" mat-raised-button (click)="sendInviteMail(inputUser.value)"
                  class="send-button">Send invite
          </button>
        </div>
      </form>
    </mat-card>
  </div>

  <div class="right">
    <mat-card class="matbox">
      <p>Send multiple invites here:</p>
      <br>
      <form [formGroup]="multiRecipientForm" class="example-form">
        <input #inputUser type="file" (change)="onFileSelect($event.target)" name="myfile" accept=".csv"
               data-max-size="2048" formControlName="csv">
        <div class="submitbtn">
          <button type="submit" mat-raised-button class="send-button" (click)="sendInviteMail(inputUser.value)">Send
            invite
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>

