<p class="title">
  Home
  <span class="line"></span>
</p>

<mat-card>
  <h2>What is FullProjectCloner?</h2>
  <p>FullProjectCloner makes it possible to clone a repository to selected recipients. Cloning will include the full
    GitHub repository including its wiki and backlog.</p>
  <h2>How does it work?</h2>
  <ul>
  <li>The user authenticates with GitHub.</li>
    <li>The user selects a specific GitHub repository.</li>
    <li>The user chooses recipient(s).</li>
    <li>A request will be sent out to the recipient(s).</li>
    <li>The repository will be cloned after the recipient accepted the request.</li>
  </ul>
</mat-card>
